<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>95940756965-lfkj7le60a6p0gq4n1mjhb6f0i1hop1i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95940756965-lfkj7le60a6p0gq4n1mjhb6f0i1hop1i</string>
	<key>API_KEY</key>
	<string>AIzaSyCmyC1NTdvYOL7_vnVaRky_ldgDlpHwGCM</string>
	<key>GCM_SENDER_ID</key>
	<string>95940756965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crudfirebase</string>
	<key>PROJECT_ID</key>
	<string>crudfirebase-7e2c3</string>
	<key>STORAGE_BUCKET</key>
	<string>crudfirebase-7e2c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95940756965:ios:8a49c14fb47c6c916d9b0c</string>
</dict>
</plist>